:root{
    --headFont: 'PT Sans', sans-serif;
    --paragraphFont: 'Open Sans', sans-serif;
    --primary: #784D3C;
    --white: #ffff;
    --black: #000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--paragraphFont);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.container{
    width: min(90%, 120rem);
    margin: 0 auto;
}
a{
    color: var(--white) !important;
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--headFont);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/* Utilidades */
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.text-center{
    text-align: center;
}

/* Header */
.header{
    background-image: url(../img/banner.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding-top: 4rem;
}
.header__nav span{
    font-weight: 500;
}
.navigation{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.header__nav-links{
    display: block;
    font-size: 2rem;
    text-align: center;
}
.header__text{
    color: var(--white);
    margin-top: 15rem;
    padding-inline: 2rem;
}

/* Blog */
.article{
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.article__title{
    margin: 10px 0;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 5px;
    text-transform: uppercase;
    border-bottom: var(--black) 1px;
    font-weight: 700;
}
.btn--primary{
    background: var(--black);
}
.btn--secundary{
    background-color: var(--primary);
}
/* Courses */
.courses{
    border: #784d3c3b solid 1px;
    padding: 20px;
}
.widget-course{
    list-style-type: none;
    border: 1px #784D3C;
}
.widget-course h4{
    margin: 0;
}
.widget-course span{
    margin: 0;
}
.footer{
    background: #000;
    padding-top: 35px;
    padding-bottom: 35px;
}
.bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.bar span{
    font-weight: 500;
}
@media (min-width: 1024px) {
    .header{
        height: 60rem;
    }
    .header__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--white);
        padding-top: 4rem;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
    .header__text{
        color: var(--white);
        margin-top: 15rem;
        padding-inline: 2rem;
    }
    .main-content{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
    .btn{
        width: fit-content;
        padding: 10px 40px;
    }
    .article:last-of-type{
        border: none;
    }
    .bar{
        flex-direction: row;
    }
}